.form-area{
    background: linear-gradient(30deg, #000000, darkgray, #000000);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid silver;
    border-radius: .5rem;
    box-shadow: 0 0 5px 5px black;
}